---
import Counter from '../components/Counter.jsx';
---

<html>
  <head>
    <title>My Astro + React Page</title>
  </head>
  <body>
    <h1>Welcome to Astro with React</h1>
    <Counter client:load />
  </body>
</html>
