body {
  background-color: #282a36;
  color: #f8f8f2;

}

/* For larger screens */
img {
  display: block;
  margin: auto;
  padding-top: 50px;
  max-width: 100%;
  height: auto;
  border-radius: 20%;
}

/* For smaller screens */
@media (max-width: 767px) {
  body {
    background-color: #282a36;
    color: #f8f8f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  img {
    margin-top: 50px;
  }
}


h1 {
  font-size: 2.5em;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.output pre {
  background-color: #282a36;
  position: static;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
}



@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
  }
}
